body {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    color: #242424;
}

* {
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 1rem;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
}

p {
    margin-bottom: 1rem;
}

ul {
    margin-bottom: 1rem;
}

a, a:visited {
    color: #0014ff;
}

.small {
    font-size: 0.9em;
}